#banner {
   background-image: url("yosemite.jpg");
   background-size:cover;

   background-repeat: no-repeat;
   height: 370px;
   float: none;
    width: 75%;
    max-width: 100%;
    margin: 0 auto;
    padding left: 50px;
    padding right: 50px;
    padding top: 20px;
    padding bottom: 20px;
    -webkit-box-shadow: -5px 0px 45px 19px rgba(57,82,56,0.64);
    -moz-box-shadow: -5px 0px 45px 19px rgba(57,82,56,0.64);
    box-shadow: -5px 0px 45px 19px rgba(57,82,56,0.64);
}

body{
background-color: darkseagreen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: 'Lobster', cursive;
  text-align:center;
  color:darkgreen;
}
p  {
 color: black;
 background: rgba(0,0,0,0.1);
 background-color: white;
}

ul {
  color: black;
  background: rgba(0,0,0,0.1);
  background-color: white;
}

#mainlink:hover {
  text-decoration:none; color:#214b6e;
}
